// Colors

$white: #fff;
$platinum: #e6e7e7;
$lightgray: #d1d1d1;
$fuzzywuzzy: #e56353;
$rudypink: #d76c69;
$spanishpink: #ecbcba;
$erieblack: #121619;
$raisinblack: #222323;
$nickel: #6c6e70;


// Fonts

$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;


// Font Size
$xx-large: 70px;
$x-large: 30px;


// Font Weigth
$regular: 400;
$bold: 700;


// Border Redondeados
$rounded: 30px;



